// It's highly recommended to change the default colors
// to match your app's branding.

$primary : #f5f0dd;
$secondary : #f1e9f4;
$accent : #003998;

$dark : #383838;

$positive : #66ba7a;
$negative : #ba5965;
$info : #a6d7e0;
$warning : #f0cb67;

@import '~quasar-variables-styl'
